*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #F55A5A;
  gap:10px;
}
.nav-text{
  color: aliceblue;
  font-weight: 200;
}
.card--list{
  display: flex;
  align-items: center;
  max-width:1200px;
  margin: 60px auto;
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
}
.travel--image{
  width: 125px;
  height: 168px;

}

.place--content{
  display: flex;
  margin-left: 20px;
  flex-direction: column;

}
.places--content-header{
  display: flex;
  align-items: center;
text-align: left;
  gap:10px;
}

.location--logo{
  width:10px;
}
.view--maps{
  color: #918E9B;
  text-decoration: underline;
}
.place--title{
  font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
margin:10px 0;

color: #2B283A;
}