* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #23252c;
}
a {
  text-decoration: none;
}
.website a {
  color: aliceblue;
}
.Linkedin-submit a {
  color: aliceblue;
}
.Email-submit a {
  color: rgb(10, 10, 10);
}
.container {
  border: 1px solid rgb(255, 255, 255);
  width: 317px;
  height: 500px;
  margin: 80px auto;
  border-radius: 10px;
}
.header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.avatar {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.name {
  color: aliceblue;
  text-align: center;
}
.job {
  color: #f3bf99;
  text-align: center;
}
.website {
  color: aliceblue;
  font-size: 10px;
  text-align: center;
}
.CTA {
  display: flex;
  padding-left: 40px;
  gap: 10px;
}
.Email-submit,
.Linkedin-submit {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.Email-submit {
  background: #ffffff;
}
.Linkedin-submit {
  background: #5093e2;
  color: aliceblue;
}
