* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #23252c;
}
a {
  text-decoration: none;
}
/* Container for components */
.container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 407px;
  height: 847px;
  margin: 80px auto;
  border-radius: 10px;
  border: 1px #3d3e3f solid;
}

/* Header */

.header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.avatar {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.name {
  color: aliceblue;
  text-align: center;
}
.job {
  color: #f3bf99;
  text-align: center;
}
.website {
  color: aliceblue;
  font-size: 10px;
  text-align: center;
}
.website a {
  color: aliceblue;
}
.Email-submit,
.Linkedin-submit {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.Email-submit {
  background: #ffffff;
}
.Linkedin-submit {
  background: #5093e2;
  color: aliceblue;
}
.Linkedin-submit a {
  color: aliceblue;
}
.Email-submit a {
  color: rgb(10, 10, 10);
}
.CTA {
  display: flex;
  padding-left: 80px;
  gap: 10px;
  margin-top: 20px;
}

/* Main Content */

.main-content {
  margin-top: 180px;
  padding-left: 80px;
}
.about-title {
  color: aliceblue;
  font-weight: 400;
}
.me {
  position: absolute;
  width: 247px;
  height: 61px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  margin-top: 10px;

  color: #dcdcdc;
}
.interests-title {
  margin-top: 80px;
  color: aliceblue;
  font-weight: 400;
}
.interests {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  margin-top: 10px;
  color: #dcdcdc;
}

/* Footer */

.footer {
  width: 100%;
  height: 64px;
  margin-top: 17px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
