*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #EEF6F0;
  font-family: 'Karla', sans-serif;
}
.container{
  margin: 40px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:50px;
  border: 1px solid gray;
  padding: 50px;
  box-shadow: 2px 10px 10px gray;
}

.questions{
  padding: 20px;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(202, 200, 200);
}
.mainText{
  color: #293264;
  display: inline-block;
  margin-bottom: 5px;
}

.choices{
  display:flex;
  gap:25px;
}

.choiceBtn{
  border:1px solid #4D5B9E;
  color: rgb(27, 27, 27);
  width:200px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  background-color: aliceblue;
}