*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #EEF6F0;
}
.container{
  margin: 300px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  border: 1px solid gray;
  padding: 50px;
  box-shadow: 2px 10px 10px gray;
}
.mainText{
  color: #293264;
  display: inline-block;
  margin-bottom: 5px;
}

.startQuizBtn{
  background-color: #293264;
  color: aliceblue;
  width: 100px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}